/* Houserules*/
body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.94;
    margin: 0;
    text-align: center;
}

a {
    color: seashell;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/* Header */
nav {
    align-items: center;
    height: 69px;
    border-bottom: 1px solid seashell;
}

#logo {
    padding-left: 10px;
    height: 50px;
}

ul {
   
    width: 350px;
    margin-right: 10px;
}

li {
    display: inline-block;
    
    
}

/* Hero */

#hero {
    height: 700px;
    width: 1200px;
    background-image: url("../Images/img-mission-background.jpg");
}

.hero-text {
   width: 100%;
   margin: auto;
}


/* Midpage */
#month {
   
    max-width: 1000px;
    margin: 20px auto;
    
}


.tea-month-text h2 {
    margin-bottom: 20px;
}

.tea-month-images {
   
    row-gap: 1em;
}

.tea-month-images img {
    height: 200px;
    width: 300px;
}

.tea-month-images figure {
    
}

.tea-month-images figcaption {
    margin-top: 10px;
    font-weight: bold;
}



/* Endpage */
#locations {
    background-image: url("../Images/img-locations-background.jpg");
    height: 500px;
    width: 1200px;
    align-items: center;
    
    margin: 0 auto;
    
}

#locations h2 {
    background-color: transparent;
    opacity: 0.95;
}

.location-boxes {
    gap: 2%;
}

.location-boxes article {
   
    height: 300px;
    width: 300px;
   
    
}


/* Footer */