/* Houserules*/
* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.94;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}
 


/* Header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid seashell;
}

#logo {
    padding-left: 10px;
    height: 50px;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-right: 10px;
}

li {
    display: inline-block;
    /* text-align: center;
    justify-content: center;
    align-items: center; */
    
}

/* Hero */
#hero {
    display: flex;
    justify-content: center;
}

.hero_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 1200px;
    background-image: url("../Images/img-mission-background.jpg");
}

.hero_text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   padding: 10px 10px;
   margin: auto;
   text-align: center;
}



/* Midpage */
#month {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
    margin: 20px auto;
    
}

.tea_month_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.tea_month_text h2 {
    margin-bottom: 20px;
}

.tea_month_images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    row-gap: 1em;
}

.tea_month_images img {
    height: 200px;
    width: 300px;
}

.tea_month_images figure {
    text-align: center;
}

.tea_month_images figcaption {
    margin-top: 10px;
}



/* Endpage */
#locations {
    background-image: url("../Images/img-locations-background.jpg");
    height: 500px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location_boxes {
    display: flex;
    
}

.location_boxes article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    text-align: center;
    
}

/* Footer */